

/* 

    font-family: 'IBM 3270 Semi-Narrow' !important; 

*/

body {
    font-family: 'IBM 3270' ;
    background-image: url('/unit-4-game/assets/images/battle.jpg') !important;
    background-color: #cccccc;
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 125%;
    overflow: auto;
  }



h1 {
    font-size: 75px;
    color: white;
}

h3 {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    background: #d6e5f7;
}

.card {
    margin: 0 10px 0 10px;
    background: black;
    color: white;
}

#obi_id {
    background: white;
    color: black;
}

.enemy-grp {
    width: 100%;
}


.card-img {
    width: 150px;
    height: 150px;
    margin-top: -20px;
    margin-bottom: -20px;
    /* padding: -50px; */
}


.card-footer, .card-header {
    border:none;
}

span {
    font-size: 30px;
    font-weight: bolder;
}

#attack-summary {
    background-color: #d6e5f7;
}

button {
    font-size: 30px;
}





