

    /* 

        font-family: 'IBM 3270 Semi-Narrow' !important; 

    */

    body {
        font-family: 'IBM 3270' ;
        font-size: 125%;

    }

    main.container-fluid {
        position: relative;
        background-image: url('../images/battle.jpg') !important;
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 100px); /* We require 100vh for all backgrounds to ensure it covers the height of the screen no matter screen size */
        overflow: auto;
        padding-bottom: 100px;
  
    }

    .border-success {
        border: 5px solid #4aaaa5 !important;
    }


    h1 {
        font-size: 85px;
        color: white;
    }

    h3 {
        font-size: 40px;
        color: black;
        font-weight: bolder;
        background: #d6e5f7;
    }

    .card {
        margin: 0 10px 0 10px;
        background: black;
        color: white;
    }


    /* Once warriors are loaded to the Enemy Container the background and border will be updated */
    #enemy-container .card{
        background: red;        
    }
 
    
    #enemy-container .border-success {
        border: 2px solid black !important;
    }


    .enemy-grp {
        width: 100%;
    }


    .card-img {
        width: 150px;
        height: 150px;
        margin-top: -20px;
        margin-bottom: -20px;
        /* padding: -50px; */
    }


    .card-footer, .card-header {
        border:none;
    }

    span {
        font-size: 30px;
        font-weight: bolder;
    }

    #attack-summary {
        background-color: #d6e5f7;
    }

    button {
        font-size: 30px;
    }


    /* .defender_row {

    } */

    

    /********************************************************************************************/
    /* Footer */
    /********************************************************************************************/

    footer .container-fluid{
        position: relative;
        text-align: center;
        background-color: #666666;
        border-top: 10px solid #4aaaa5;
        /* position: fixed; */
        bottom: 0;
        width: 100%;
        height: calc(5vh + 50px);
        padding-top: 25px;
        color: white;
        overflow: hidden;
    }










 





