

/* 

    font-family: 'IBM 3270 Semi-Narrow' !important; 

*/

body {
    font-family: 'IBM 3270' ;
  }

#container_features {
    background-image: url("/assets/images/battle_ship.jpg");
    background-color: #cccccc;
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.card {
    margin: 0 10px 0 10px;
    background: black;
    color: white;
}

#obi_id {
    background: white;
    color: black;
}

.enemy-grp {
    width: 100%;
}


.card-img {
    width: 200px;
    height: 200px;
    margin-top: -20px;
    margin-bottom: -20px;
    /* padding: -50px; */
}


.card-footer, .card-header {
    border:none;
}








